<h2>Configuracion</h2>

<div class="ui top attached segment">
    <div class="ui grid">
        <div class="{{ 1 | uiGrid }} wide column">
            <label for="input_valor_inicial" class="ui teal header" >Ip:</label>
        </div>

        <div class="{{ 7 | uiGrid }} wide column">
            <div class="ui fluid input">
                <input type="text" ng-model="data.ip">
            </div>
        </div>

        <div class="{{ 2 | uiGrid }} wide column">
            <label for="input_valor_inicial" class="ui teal header" >Puerto:</label>
        </div>

        <div class="{{ 6 | uiGrid }} wide column">
            <div class="ui fluid input">
                <input type="text" value="3389">
            </div>
        </div>
    </div>    
</div>
<div class="ui bottom attached segment">
    <div class="ui grid">
        <div class="{{ 3 | uiGrid }} wide column"></div>
        <div class="{{ 16 - 6 | uiGrid }} wide column">
            <button class="fluid ui primary big button" ng-click="save()">Guardar</button>
        </div>
    </div>    
</div>
